<div class="menu-open">
  <% if @favorites.present? %>
    <table class="table table-dark table-hover table-responsive table-borderless rounded">
      <thead>
        <tr>
          <th scope="col" class="w-10">Bot</th>
          <th scope="col" class="w-10">Nome</th>
          <th scope="col" style="width:30%;">Conteúdo</th>
          <th scope="col" class="w-50">Descrição</th>
          <% if policy(@favorites.first.config.bot).favorite? %>
            <th scope="col" class="text-center">Favoritar</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
            <th scope="row"><%= favorite.config.bot.name %></th>
            <td><%= favorite.config.name %></td>
            <td><%= favorite.config.content %></td>
            <td><%= favorite.config.description %></td>
            <% if policy(favorite.config.bot).favorite? %>
              <td class="text-center" id="favorite-<%= favorite.config.id %>">
                <%= link_to favorite_path(favorite), method: 'DELETE' do %>
                  <div class="HeartAnimation animate" ></div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h1 class="text-center mt-3">
      Você ainda não favoritou nenhuma Config!
    </h1>
    <h2 class="text-center mt-4">
      <%= link_to "Veja nossos bots", bots_path, class: "btn custom-btn-purple text-white" %>
    </h2>
  <% end %>
</div>