<div class="menu-open">
  <% if @favorites.present? %>
    <table id="bot_configs_favorites" class="table table-dark table-hover table-responsive table-bordered">
      <thead>
        <tr style="vertical-align:middle;">
          <th scope="col" style="width:15%;">Bot</th>
          <th scope="col" style="width:10%;">Nome</th>
          <th scope="col" style="width:30%;">Conteúdo</th>
          <th scope="col" style="width:40%;">Descrição</th>
          <% if policy(@favorites.first.config.bot).favorite? %>
            <th scope="col" class="text-center" style="width:5%;">Favoritar</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr style="vertical-align:middle;">
            <th scope="row"><%= favorite.config.bot.name %></th>
            <td><%= favorite.config.name %></td>
            <td><%= favorite.config.content %></td>
            <td><%= favorite.config.description %></td>
            <% if policy(favorite.config.bot).favorite? %>
              <td class="text-center" id="favorite-<%= favorite.config.id %>">
                <%= link_to favorite_path(favorite), method: 'DELETE', data: { confirm: 'Você tem certeza?' } do %>
                  <div class="HeartAnimation animate" ></div>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h1 class="text-center mt-3">
      Você ainda não favoritou nenhum comando!
    </h1>
    <h2 class="text-center mt-4">
      <%= link_to "Veja nossos bots", bots_path, class: "btn custom-btn-purple text-white" %>
    </h2>
  <% end %>
</div>

<script>
  $('#bot_configs_favorites').DataTable({
    "language": {
      "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
    },
    "paging": false,
    "info": false,
    "searching": false
  });
</script>