<div class="menu-open">
  <h1 class="mb-5 text-center"> Conheça nossos usuários \o/ </h1>
  <div id="cards_landscape_wrap-2">
    <div class="row d-flex justify-content-center">
      <% @users.each do |user| %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <a href="https://twitch.tv/<%= user.nickname %>" target="_blank">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <%= image_tag user.image %>
                </div>
                <div class="text-container">
                  <h6 style="word-break: break-all;"><%= user.nickname %></h6>
                  <div class="d-flex justify-content-center">
                    <div class="me-3" title="Número de visualizações">
                      <p><i class="fab fa-twitch me-1"></i><%= user.view_count %></p>
                    </div>
                    <div title="Número de favoritos na plataforma">
                      <p><i class="fas fa-heart me-1"></i><%= user.favorites.count %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>
