<div class="navbar navbar-lewagon navbar-dark bg-dark py-0 mb-1">
  <div class="d-flex">
    <button class="navbar-toggler z-index-999 border-0 ms-3 " type="button" id="custom_menu" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon teste-menu"></span>
    </button>
    <%= link_to root_path do %>
      <%= image_tag 'ttvlogo.png', class: "main-logo ms-3" %>
    <% end %>
    <%= form_tag results_path, class: "d-flex ms-4", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control me-2",
        placeholder: "Pesquisar"
      %>
      <%= submit_tag "Pesquisar", class: "btn btn-outline-light" %>
    <% end %>
  </div>
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <div class="d-flex">
        <li class="nav-item mt-2 me-2">
          <%= link_to "Favoritos ❤", favorites_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown justify-content-end me-3">
          <div class="btn-group dropstart">
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag current_user.image, class: "avatar" %>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark position-absolute" aria-labelledby="navbarDropdown">
              <%= link_to "Bots", bots_path, class: "dropdown-item" %>
              <%= link_to "Favoritos", favorites_path, class: "dropdown-item" %>
              <%= link_to "Usuários", users_path, class: "dropdown-item" %>
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </ul>
          </div>
        </li>
      </div>
    <% else %>
      <li class="nav-item py-2">
        <%= link_to user_twitch_omniauth_authorize_path, class: "btn custom-btn-purple text-white me-3", method: :post do %>
          <i class="fab fa-twitch"></i>
          Entre com a Twitch
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

