<div class="menu-open">
  <% if @results.present? %>
    <table id="bot_configs_results" class="table table-dark table-hover table-responsive table-bordered">
      <thead>
        <tr style="vertical-align:middle;">
          <th scope="col" style="width:15%;">Bot</th>
          <th scope="col" style="width:10%;">Nome</th>
          <th scope="col" style="width:30%;">Conteúdo</th>
          <th scope="col" style="width:40%;">Descrição</th>
          <% if policy(@results.first.bot).favorite? %>
            <th scope="col" class="text-center" style="width:5%;">Favoritar</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @results.each do |result| %>
          <tr style="vertical-align:middle;">
            <th scope="row"><%= result.bot.name %></th>
            <td><%= result.name %></td>
            <td><%= result.content %></td>
            <td><%= result.description %></td>
            <% if policy(@results.first.bot).favorite? %>
              <td class="text-center" id="favorite-<%= result.id %>">
                <% if favorite = Favorite.find_by(config_id: result.id, user_id: current_user) %>
                  <%= link_to favorite_path(favorite), method: 'DELETE', remote: "true" do %>
                    <div class="HeartAnimation animate" ></div>
                  <% end %>
                <% else %>
                  <%= link_to config_favorites_path(result), method: 'POST', remote: "true" do %>
                    <div class="HeartAnimation"></div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h1 class="text-center mt-3">
      Não foi encontrado nenhum resultado para sua pesquisa!
    </h1>
    <h2 class="text-center mt-4">
      <%= link_to "Veja nossos bots", bots_path, class: "btn custom-btn-purple text-white" %>
    </h2>
  <% end %>
</div>

<script>
  $('#bot_configs_results').DataTable({
    "language": {
      "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
    },
    "paging": false,
    "info": false
  });
</script>