<div class="menu-close homepage" style="display: flex;flex-direction: column;min-height: 90vh;">
  <header class="mb-5">
    <p class="main-header text-center mb-4"> 
      TTV MODS 
    </p>
    <p class="sub-header text-center mb-3"> 
      A plataforma para os moderadores e streamers da Twitch
    </p>
  </header>
  <main class="mt-5">
    <div class="d-flex justify-content-around">
      <div class="row w-100">
        <div class="col-md-3 d-flex justify-content-center mb-5 card-p-0">
          <a href="<%= bots_path %>">
            <div class="card custom-card bordered-card">
              <div class="card-body custom-card-body">
                <div class="d-flex justify-content-between"> 
                  <img class="custom-card-image" src="https://i.imgur.com/3j4e0aB.jpg">
                </div>
              </div>
            </div>
          </a>
        </div>
        <% @bots.first(3).each do |bot| %>
          <div class="col-md-3 d-flex justify-content-center mb-5 card-p-0" >
            <a href="<%= bot_path(bot) %>">
              <div class="card custom-card bordered-card">
                <div class="card-body custom-card-body">
                  <div class="d-flex justify-content-between"> 
                    <%= image_tag bot.photo, class: "custom-card-image" %>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </main>
  <footer class="d-flex">
    <div class="d-flex justify-content-center align-items-center flex-column p-4">
      <%= image_tag "settings.svg", class:'icons-homepage'%>
      <div class="card-body">
        <h5 class="card-title text-center">CONFIGS</h5>
        <p class="card-text text-center">Documentação de bots<br>maneira simples e prática.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column p-4">
      <%= image_tag "security-shield_1.svg", class:'icons-homepage'%>
      <div class="card-body">
        <h5 class="card-title text-center">SEGURANÇA</h5>
        <p class="card-text text-center">Previna toxicidade em<br>seu chat.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column p-4">
      <%= image_tag "unnamed.svg", class:'icons-homepage'%>
      <div class="card-body">
        <h5 class="card-title text-center">MODS</h5>
        <p class="card-text text-center">Conheça os mods mais<br>dedicados da plataforma.</p>
      </div>
    </div>
  </footer>
</div>

<script>
  const homePageMenu = document.getElementById('navbarToggleExternalContent');
  homePageMenu.classList.remove('show');
</script>