<div class="menu-open">
  <h1 class="text-center">
    <%= @bot.name %>
  </h1>
  <h5 id="bot_introduction" class="text-white p-3 mb-3 mt-2 text-break custom-text-justify">
    <%= @bot.rich_introduction %>
  </h5>

  <table id="bot_configs" class="table table-dark table-hover table-responsive table-bordered">
    <thead>
      <tr style="vertical-align:middle;">
        <th scope="col" style="width:2%;">#</th>
        <th scope="col" style="width:10%;">Nome</th>
        <th scope="col" style="width:33%;">Conteúdo</th>
        <th scope="col" style="width:50%;">Descrição</th>
        <% if policy(@bot).favorite? %>
          <th scope="col" class="text-center" style="width:5%;">Favoritar</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @configs.each do |config| %>
        <tr style="vertical-align:middle;">
          <th scope="row"><%= i += 1 %></th>
          <td><%= config.name %></td>
          <td><%= config.content %></td>
          <td><%= config.description %></td>
          <% if policy(@bot).favorite? %>
            <td class="text-center" id="favorite-<%= config.id %>">
              <% if favorite = Favorite.find_by(config_id: config.id, user_id: current_user) %>
                <%= link_to favorite_path(favorite), method: 'DELETE', remote: "true" do %>
                  <div class="HeartAnimation animate" ></div>
                <% end %>
              <% else %>
                <%= link_to config_favorites_path(config), method: 'POST', remote: "true" do %>
                  <div class="HeartAnimation"></div>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h4>
    <% if policy(@configs).create? %>
      <%= link_to "✅ Criar config", new_bot_config_path(@bot.id), class: "btn btn-primary text-white" %>
    <% end %>
  </h4>
</div>

<script>
  $('#bot_configs').DataTable({
    "language": {
      "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
    },
    "paging": false,
    "info": false
  });
</script>