<!DOCTYPE html>
<html>
  <head>
    <title>TTVMods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="A plataforma para os moderadores e streamers da Twitch">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- O que você está fazendo aqui? -->
    <!-- 
  _______ _________      __  __  __  ____  _____   _____ 
 |__   __|__   __\ \    / / |  \/  |/ __ \|  __ \ / ____|
    | |     | |   \ \  / /  | \  / | |  | | |  | | (___  
    | |     | |    \ \/ /   | |\/| | |  | | |  | |\___ \ 
    | |     | |     \  /    | |  | | |__| | |__| |____) |
    |_|     |_|      \/     |_|  |_|\____/|_____/|_____/                                                                                                       
    -->
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="ttvlogo.png">
    <meta name="twitter:title" content="TTV MODS">
    <meta name="twitter:description" content="A plataforma para os moderadores e streamers da Twitch">
    <meta name="twitter:creator" content="Jowsgg e Kayo Pereira">
    <!-- Componente DataTable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
    <!-- CSS E JS da aplicação -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- Animação da homepage -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  </head>
  <body class="custom-dark-theme scrollbar">
    <%= render 'shared/navbar' %>
    <%= render 'shared/hamburger' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
